@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  font-size: 16px;
  color: #293264;
  background-color: #f5f7fb;
  height: 100%;
  min-height: 100vh;
}

p {
  font-family: "Inter", sans-serif;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1,
h2 {
  font-family: "Karla", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}

.home-description {
  margin-top: 1rem;
}

.btn {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  box-shadow: 0px 4px 4px #000000 25%;
  cursor: pointer;
  text-decoration: none;
}

.btn.checkAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-decoration: none;
}

.loading {
  height: 100vh;
  display: grid;
  place-items: center;
}

.quiz {
  margin: 10% 10% 0;
}

.options {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  width: 70%;
}

.option {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  padding: 7px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 2rem;
}

.option.last {
  margin-right: 0;
}

@media (max-width: 768px) {
  .quiz {
    margin: 5% 5% 0;
  }

  .options {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .option {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    border: 1px solid #293264;
    padding: 7px 20px;
    border-radius: 10px;
  }
}
